# -*- mode: gitignore; -*-

# editors' temp files
*~
\#*\#
.\#*

# build files
/build/
/out/

# ndk
/ndk/

# sources
/projects/*/sources

# Vagrant files
.vagrant/
ubuntu-bionic-18.04-cloudimg-console.log
